body, html{
    margin: 0;
    padding:0;
    background-color: white;
}
.wrap1{
    margin-top: 0;
    background-image: url("images/headerpic.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    min-height:60vw;
}
.child11{
    color: aliceblue;
    font-family: "papyrus";
    position: absolute;
    right: 20%;
    left: 20%;
    top:3em;
    text-align: center;
}
.child12{
    font-family: "papyrus";
    position: absolute;
    left: 50%;
    right: 10%;
    top:8em
}

.head1{
    font-size: calc(34px + (34 - 14) * ((100vw - 300px) / (1600 - 300)));
    background-color: black;
    opacity: 0.8;
    padding: 4px;
    border-radius: 10px;
    text-align: center;
}
.head4{
    font-size: calc(18px + (18 - 7) * ((100vw - 300px) / (1600 - 300)));
    background-color: black;
    opacity: 0.8;
    padding: 4px;
    border-radius: 10px;
    color: white;
    text-align: center;
}
#myNavbar{
    margin-bottom: 0;
}

#container{
    width: 100%;
    height: 400px;
    background: white;
    position: relative;
  }
  #container2{
    width: 100%;
    height: 600px;
    background: white;
    position: relative;
  }
  /* div.green{
    background: green;
    display: block;
    height: 100px;
    width: 100%;
  } */
  div.red{
    background: white;
    display: block;
    height: 100px;
    width:100%
  }
  div.box1 img{
    width: 90%;
    height: auto;
     /* background-image: url("images/bear.jpg"); */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 5%;
    left:5%;
    top: 0vw;
    transform: translateY(-50%);
    border:20px solid white;
  }
  .wrap2{
    margin-top: 0;
    background-color: white;
    position: relative;
    height:280vw;
    min-width: 90vw;
}
  .box2{
    min-width: 90%;
    height: 100px;
    position: absolute;
    right: 5%;
    left:5%;
    top: 0%;
    background-color: white;
    color: black;
    text-align: center;
      }
 .box3 img{
  /* background-image: url("images/tiger.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: auto;
  position: absolute;
  right: 5%;
  left:5%;
  top: 10vw;
  background-color: white;
  color: black;
  text-align: center;
  border:16px solid white;
   }
 .box4{
   min-width: 90%;
   height: 100px;
   position: absolute;
   right: 5%;
   left:5%;
   top: 70vw;
   background-color: white;
   color: black;
   text-align: center;
   border:20px solid white;
  }
 .box5 img{
   /* background-image: url("images/cheetah.jpg"); */
   background-repeat: no-repeat;
   background-size: cover;
   width: 90%;
   height: auto;
   position: absolute;
   right: 5%;
   left:5%;
   top: 100rem;
   background-color: white;
   color: black;
   text-align: center;
   border:20px solid white;
  }
 .box6{
   min-width: 90%;
   height: 100px;
   position: absolute;
   right: 5%;
   left:5%;
   top: 170rem;
   background-color: white;
   color: black;
   text-align: center;
   border:20px solid white;
    }
 .box7 img{
   /* background-image: url("images/hyena.jpg"); */
   background-repeat: no-repeat;
   background-size: cover;
   width: 90%;
   height: auto;
   position: absolute;
   right: 5%;
   left:5%;
   top: 190rem;
   background-color: white;
   color: black;
   text-align: center;
   border:20px solid white;
  }
 .box8{
   min-width: 90%;
   height: 100px;
   position: absolute;
   right: 5%;
   left:5%;
   top: 280rem;
   background-color: white;
   color: black;
   text-align: center;
   border:20px solid white;
 }
 .box9 img{
     /* background-image: url("images/deer.jpg"); */
     box-shadow: 5px black;
     background-repeat: no-repeat;
     background-size: cover;
     width: 90%;
     height: auto;
     position: absolute;
     right: 5%;
     left:5%;
     top: 230vw;
     background-color: white;
     color: black;
     text-align: center;
     border:20px solid white;
    }
  .box10{
     min-width: 90%;
     height: 100px;
     position: absolute;
     right: 5%;
     left:5%;
     top: 370rem;
     background-color: white;
     color: balck;
     text-align: center;
     border:20px solid white;
    }      
      .wrap2h1{
        font-size: calc(18px + (18 - 7) * ((100vw - 300px) / (1600 - 300)));
        font-family: "papyrus";
      }
      .wrap2h5{
        font-size: calc(12px + (12 - 5) * ((100vw - 300px) / (1600 - 300)));
        font-family: "papyrus";
      }
      div.red2{
        background: white;
        display: block;
        height: 00px;
        width:100%
      }
     
      
 @media(max-width:813px){
    .head1{
        font-size: calc(28px + (28 - 10) * ((100vw - 300px) / (1600 - 300)));
        background-color: black;
        opacity: 0.8;
        padding: 4px;
        border-radius: 10px;
        text-align: center;
    }
    .head4{
        font-size: calc(13px + (13 - 6) * ((100vw - 300px) / (1600 - 300)));
        background-color: black;
        opacity: 0.8;
        padding: 4px;
        border-radius: 10px;
        color: white;
        text-align: center;
    }
    /* .wrap1{
        margin-top: 0;
        background-image: url("headerpic.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        width:300px;
        height: auto;
    } */
 }
 @media(max-width:636px){
    .head1{
        font-size: calc(24px + (24 - 12) * ((100vw - 300px) / (1600 - 300)));
        background-color: black;
        opacity: 0.8;
        padding: 4px;
        border-radius: 10px;
        text-align: center;
    }
    .head4{
        font-size: calc(12px + (12 - 8) * ((100vw - 300px) / (1600 - 300)));
        background-color: black;
        opacity: 0.8;
        padding: 4px;
        border-radius: 10px;
        color: white;
        text-align: center;
    }
 }